.carousel-container {
  position: relative;
  width: 20%; /* Limite la largeur à xx% de l'écran */
  max-width: 200px; /* Largeur maximale pour éviter que le carrousel devienne trop large sur des écrans très grands */
  height: 100px;
  overflow: hidden;
  margin: 0 auto; /* Centrer horizontalement */
}

.carousel-item img {
  width: 100px; /* Largeur fixe pour toutes les images */
  height: 100px; /* Hauteur fixe pour toutes les images */
  object-fit: contain; /* Optionnel : garde les proportions de l'image */
}

.carousel-item {
  width: 100%; /* S'assurer que chaque élément occupe toute la largeur disponible */
  height: 100%; /* S'assurer que chaque élément occupe toute la hauteur disponible */
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}
