/******* GENERAL *******/
/* Déclaration des couleurs en variables */
:root {
  --dark-gray: #5b5b5b;
  --dark-bg: #333;
  --highlight-color: #c08732;
  --success-color: #198754;
  --green-color: #008000;
}

/* Spacing on all sections */
body {
  font-family: Arial, sans-serif;
}

section {
  margin-top: 3rem;
  padding-top: 4rem;
}

section h2 {
  margin-bottom: 3rem;
}

#contact {
  padding-bottom: 4rem;
}

/* Navbar */
.navbarScroll.navbarDark {
  background-color: var(--dark-gray);
}

.navbar {
  background-color: var(--dark-bg);
  color: white;
  padding-top: 0.1rem !important;
}

.navbar-brand img {
  height: 30px;
  width: auto; /* Pour conserver les proportions de l'image */
}

/* Hero background image */
.bgimage {
  height: 25vh;
  max-height: 900px;
  background: url("../images/image1.avif");
  background-size: cover;
  position: relative;
}

/* Text CSS above hero image */
.hero_title {
  font-size: 4.5rem;
}

.hero_desc {
  font-size: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--highlight-color);
}

/* About */
.imageAboutPage {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Skills */
.skillsText.card {
  height: 350px;
  cursor: pointer;
}

.skillsText img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

#skills p {
  text-align: center;
}

.skillsIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card-title {
  text-align: center;
}

.card:hover .skillsIcon {
  color: var(--green-color);
}

.skillsText:hover {
  border: 1px solid var(--green-color);
}

/* Portfolio */
#portfolio p {
  text-align: center;
}

.portfolioContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.portfolioContent .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Contact */
.contactColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactColumn i {
  color: var(--success-color);
}

/* Footer */

/* Carousel */
#banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 400px; /* Hauteur ajustée pour le carrousel */
}

.banner-img {
  object-fit: contain;
  display: block;
  margin: auto;
  height: 100px;
}

@media (max-width: 628px) {
  .hero_title {
    font-size: 1.5rem !important;
  }

  .hero_desc {
    font-size: 1rem !important;
  }

  /* Spacing adjustments */
  section {
    margin-top: 1rem;
    padding-top: 1rem;
  }

  /* Background and text positioning */
  .bgimage {
    height: 16vh; /* Hauteur ajustée en fonction de l'écran */
    margin-top: 43px; /* Compense la hauteur de la navbar fixe */
    position: relative;
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--highlight-color);
    z-index: 10;
  }

  .imageAboutPage {
    margin-bottom: 20px; /* Espace entre l'image et le texte */
  }
}
